{% extends "wagtailadmin/generic/base.html" %}
{% block titletag %}Auctions Documentation{% endblock %}

{% load i18n wagtailadmin_tags static %}


{% block content %}

<style>
    img.docs-image {
        border: solid white 1pt; 
        max-height: 600px;
    }
</style>

{% include "wagtailadmin/shared/header.html" with title="How to create and manage auctions" %}

<div style="margin-left: 1em;">

<p><strong>Note: The admin is best managed on a computer. The screenshots on this page assume you are using 
    computer; mobile navigation is possible but will look different.
</strong></p>
<h1 id="table-of-contents">Table of contents</h1>
<ul>
    <li><a href="#terminology">Some terminology</a></li>
    <li><a href="#navigating">Navigating to auctions</a></li>
    <li>
        <a href="#create-new-auction">Create a new auction</a>
        <ul style="margin-top: 0;">
            <li><a href="#adding-page-content">Adding page content</a></li>
            <li><a href="#preview">Previewing the page</a></li>
            <li><a href="#saving">Saving as draft vs. publishing</a></li>
        </ul>
    </li>
    <li>
        <a href="#adding-auction-items">Adding auction items</a>
        <ul style="margin-top: 0;">
            <li><a href="#adding-photos">Adding photos</a></li>
            <li><a href="#preview-auction-item">Preview auction item page</a></li>
        </ul>
    </li>
   <li><a href="view-live">Viewing live pages</a></li>
   <li><a href="add-new-category">Adding a new auction category</a></li>
   <li><a href="auction-results">Auction results</a></li>
</ul>

<h1 id="terminology">Some terminology</h1> 
<a href="#table-of-contents">Back to top</a>

<p>
The PINS website consists of pages, which have a hierarchy. The website home page is the root page, and every other
page is a descendent of this page. Think of it like a family tree.

In the admin, we build up web pages that will be visible on the live website.  If you are an Auction admin, you will
only see a limited subset of the website's pages.  You'll just see the "Auctions" page, which is a page that lists all
the visible auctions. This is the "parent" page for all individual Auction pages. Each Auction is a "child" of this
page. Each item in an Auction has its own page (an "Auction Item page").

To create a new auction, you will first create an Auction page. This has some basic auction details - a name, an option
description, a start and end date.  Then you'll create an Auction Item page for each item in the auction.
</p>

<h1 id="navigating">Navigating to auctions</h1>
<a href="#table-of-contents">Back to top</a>

<p>
    After logging in to the PINS admin, you'll see a page like this. In the side menu, <strong>Pages</strong>
    takes you to the website pages. This is where you create a new auction and add items to it. <strong>Auctions</strong>
    contains results of auctions and details of bids.</p>
    <img class="docs-image" src={% static 'images/auction_docs/landing_page.png' %}/>

<p>Click on Pages and the Pages menu opens</p>
    <img class="docs-image" src={% static 'images/auction_docs/getting_to_pages.png' %}/>

<p>Click on the PINS Auctions link; this takes you to the main list of Auctions</p>

<h1 id="create-new-content">Create a new auction</h1>
<a href="#table-of-contents">Back to top</a>


<p>Click on the + to add a new auction page. You can also click on the <strong>...</strong> to edit the Auctions list page.</p>

    <img class="docs-image" src={% static 'images/auction_docs/add_new_auction.png' %}/>

<p>This takes you to a form where you can fill out details for the new auction</p>
    <img class="docs-image" src={% static 'images/auction_docs/new_auction.png' %}/>

<p>Add a name for the auction, page content ("body") and the start and end date and time for the auction. Auctions will
    only be open for bidding between these dates (you can change them later if you need to).
</p>
    <img class="docs-image" src={% static 'images/auction_docs/new_auction_form_filled.png' %}/>

<h2 id="adding-page-content">Adding page content</h2>
<p>The "body" field allows you to add optional details about the auction. You can add headings and formatting in this field.
    When you click in the field, a green + will appear to the left of the field. Click on this to display
    formatting options, such as headings and bullet lists.
</p>
<img class="docs-image" src={% static 'images/auction_docs/new_auction_formatting1.png' %}/>
<p>If you select text, other formatting options will appear (e.g. bold, italics).</p>
<img class="docs-image" src={% static 'images/auction_docs/new_auction_formatting2.png' %}/>


<h2 id="preview">Previewing the page</h2>
<p>Click on the screen icon on the right hand side of the top menu to open a panel that shows a preview of how the page
    will look on the website. Click again to hide it.
</p>
<img class="docs-image" src={% static 'images/auction_docs/new_auction_preview.png' %}/>

<h2 id="saving">Saving as draft vs publishing</h2>
<p>At the bottom of the page is a button to save the page. This defaults to "Save draft". If you click on the arrow icon,
    it will expand to give you the option to Publish instead.

    A draft page can be previewed by admins, but is not visible on the website yet. A published page is live and visible
    on the website.

    You can come back to a page and make edits, and save as draft. This will make the page both Live <em>and</em> draft. The
    content on the website will not update until you publish the new changes.
</p>
<img class="docs-image" src={% static 'images/auction_docs/new_auction_draft_publish.png' %}/>

<p>
    If you save a page as draft, you will stay on that page and can continue editing it. If you publish, it will save and
    take you to the list of Auction pages.
</p>

<p>
    From an Auction page, you can go to the list of Auction Items by clicking on the page name in the top menu.

    The <strong>...</strong> button shows other options, including "Add child page" (i.e. an Auction Item)
</p>
<img class="docs-image" src={% static 'images/auction_docs/auction_page_links.png' %}/>


<h1 id="adding-auction-items">Adding auction items</h1>
<a href="#table-of-contents">Back to top</a>
<p>
    From your auction list page (get to it by going to Pages in the side menu, and clicking on your auction's name)
    add a child page by clicking on the <strong>+</strong> button.
</p>
<img class="docs-image" src={% static 'images/auction_docs/add_new_item.png' %}/>

<p>This opens a form for a new auction item</p>
<img class="docs-image" src={% static 'images/auction_docs/auction_item_new_form.png' %}/>

<p>Add a title and choose a category for the item. If you need a different category, you can add a new one by following
    <a href="#add-new-category">these instructions</a>.

    Fill in other details as provided by the item donor. Make sure the donor email address is correct!
</p>

<img class="docs-image" src={% static 'images/auction_docs/auction_item_form_1.png' %}/>

<p>
    Note: postage needs to be specified by the donor when they submit the item to the auction, so that we can
    calculate the total amount that the winner will need to pay. If the donor is covering postage, enter 0 in this
    field.</p>
    <img class="docs-image" src={% static 'images/auction_docs/auction_item_form_postage.png' %}/>

<h2 id="adding-photos">Adding photos</h2>
<p>You can add any number of photos to an auction item (or none). Click on the "add photos" link.</p?
    <img class="docs-image" src={% static 'images/auction_docs/add_photos.png' %}/>
<p>A "choose image" window will pop up.</p>
    <img class="docs-image" src={% static 'images/auction_docs/auction_item_choose_image.png' %}/> 
<p>Click on the "Upload" tab, or on the "upload one now" link. You can now select an image from your
    computer. Note that you don't need to provide a title - it will use the name of the photo if you
    leave the title field empty.
</p>
<img class="docs-image" src={% static 'images/auction_docs/auction_item_upload_image.png' %}/> 
<p>Thumbnails of the photos you have uploaded will be displayed on the page. You can add more, remove photos or
    change the order from here.</p>
    <img class="docs-image" src={% static 'images/auction_docs/auction_item_photos.png' %}/> 

<h2 id="preview-auction-item">Preview auction item page</h2>
<p>You can preview an auction item page in the <a href="#preview">same way as before</a>.</p>
<img class="docs-image" src={% static 'images/auction_docs/auction_item_preview.png' %}/> 

<h2>Save page</h2>
<p>Save the page as draft or publish it, in the <a href="#saving">same way as we did for the Auction page</a>.</p>

<h1 id="view-live">Viewing live pages</h1>

<p>In several places in the admin, you'll see a "Live" link or button. E.g. on the auctions list page below,
    there are links to view the overall auctions page and the Test Auction page. Clicking on these links will
    take you to the live page on the website (it will open in a new tab).

    Note that from this page you can also see the status of each Auction page (draft/live).
</p>

<img class="docs-image" src={% static 'images/auction_docs/auctions_list.png' %}/> 


<h1 id="add-new-category">Adding a new auction category</h1>
<a href="#table-of-contents">Back to top</a>

<p>Click on "Auctions" in the side menu; in the sub-menu, there is an option for Auction Categories.</p>
<img class="docs-image" src={% static 'images/auction_docs/auctions_menu.png' %}/> 

<p>Click on this and you'll see a list of the available auction categories. Click on the "add auction category"
    button to add a new open.

    Warning! You can edit existing auction categories. However, if you do, remember that these will change for any
    previous auction item that uses them. Only edit categories if you're changing a name for the same things. I.e. it's
    fine to change "Dog stuff" to "Items for dogs", but you probably don't want to change it to "Items for humans", 
    because any items previously categorised as dog stuff will now be labelled "Items for humans".
</p>
<img class="docs-image" src={% static 'images/auction_docs/add_auction_category.png' %}/> 

<h1 id="auction-results">Auction results</h1>

<p>Auction results can be found in the "Auctions" in the side menu; updates and more info coming soon.</p>

</div>

{% endblock %}
