{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags hometags %}

{% block content %}
    {% if not tag %}
        {% include "includes/header-index.html" %}
    {% endif %}

    <div class="container">

        <div class="blog-list">
            {% if news_items %}
                {% for news_item in news_items %}
                    {% include "includes/card/blog-listing-card.html" with blog=news_item %}
                {% endfor %}
            {% else %}
                <div class="col-md-12">
                    <p>Coming soon.</p>
                </div>
            {% endif %}

            {% if news_items.paginator.count > page.paginate_by %}
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        {% include "includes/pagination.html" with subpages=news_items %}
                    </div>
                </div>
            </div>
        {% endif %}
        </div>
    </div>

    {% endblock content %}
