{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}

    <div class="container form-page-thanks">
        <div class="row">
            <div class="col-md-12">
                <h1 class="index-header__title">{{ page.title }}</h1>
            </div>
            <div class="col-md-7 index-header__body-introduction">
            <p>Your order total is <strong>£{{ total }}</strong></p>

            {% if paypal_form %}
                <p>Click the button below to go to PayPal to make your payment.<br>
                    <strong><i>Note: you do not need a PayPal account, payments can be taken by debit/credit card.</i></strong>
                </p>
                {{ paypal_form.render }}
                </div>
                
                <div class="col-md-7 index-header__body-introduction">
                    {{ page.thank_you_text|richtext }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
