{% extends "base.html" %}
{% load wagtailcore_tags navigation_tags wagtailimages_tags ordertags %}

{% block content %}

{% include "includes/header-hero.html" %}

    <div class="container">
        <div class="row">
            {% if page.inline_image %}
            <div class="col-md-8">
                <figure>{% image page.inline_image scale-100 loading="lazy" %}</figure>
            </div>
                {% endif %}

            <div class="col-md-8 index-header__body-introduction">
                {% if page.body %}
                    {{ page.body|richtext }}
                {% endif %}
            </div>
            
            <div class="col-md-8">

            </div>
            <div class="col-md-8 index-header__body-introduction">
                {% if page.product_description %}
                    <p class="intro">{{ page.product_description|richtext }}</p>
                {% endif %}
                
                {% if page.show_summary %}
                <h3>Order options</h3>
                    {% for group_name, variants in page.variants_by_group.items %}
                        {% if group_name %}<h4>{{ group_name }}</h4>{% endif %}
                        <ul>
                            {% for variant in variants.all %}
                                <li>{{ variant.name }}: £{{ variant.cost }}</li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                {% endif %}

                {% if page.shipping_costs_dict %}
                    {% if page.shipping_costs_dict|length == 1 %}
                        {% for label, shipping_cost in page.shipping_costs_dict.values %}
                            P&P - 
                                {% if shipping_cost > 0 %} 
                                    {{ label }}: £{{shipping_cost }}
                                {% else %}
                                    free
                                {% endif %}
                        {% endfor %}
                    {% else %}
                    P&P:
                    <ul>
                        {% for label, shipping_cost in page.shipping_costs_dict.values %}
                            <li>{{ label }}: £{{shipping_cost }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 form-page">
            {% if page.sold_out %}
                <div class="text-danger lead">SOLD OUT</div>
            {% else %}
                {% comment %}
        You could render your form using a Django rendering shortcut such as `{{ form.as_p }}` but that will tend towards unsemantic code, and make it difficult to style. You can read more on Django form at:
        https://docs.djangoproject.com/en/3.2/topics/forms/#form-rendering-options
        {% endcomment %}
                {% if form.errors %}
                    <div class="text-danger">Please correct the errors below:
                    <ul>    
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                    </div>
                {% endif %}

                <form action="{% pageurl page %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if form.subject.errors %}
                        <ol>
                            {% for error in form.subject.errors %}
                                <li><strong>{{ error|escape }}</strong></li>
                            {% endfor %}
                        </ol>
                    {% endif %}
                    
                    {% for group_name, variants in page.variants_by_group.items %}
                    <div class="form-page__field">
                        {% if group_name %}
                            <strong>{{ group_name }}</strong><br/>
                        {% endif %}
                        {% for variant in variants.all %}
                            {% get_variant_form_field form=form field_name=variant.slug as field %}
                            {% if group_name %}
                                <div aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>                            
                                    {% if variant.description %}
                                        <p class="help">{{ variant.description }}</p>
                                    {% endif %}
                                    {{ variant.name }} (£{{ variant.cost }}) 
                                    {% include 'home/includes/product_variant_form_field.html' %}  
                                </div>
                            {% else %}
                                {% comment %} No group {% endcomment %}
                                <div class="form-page__field" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>                            
                                    {% if variant.description %}
                                        <p class="help">{{ variant.description }}</p>
                                    {% endif %}
                                    <strong>{{ variant.name }} (£{{ variant.cost }})</strong><br/>
                                    {% include 'home/includes/product_variant_form_field.html' %}  
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% endfor %}
                    


                    <h3>Your details</h4>
                    {% for field in form %}
                        {% if not page|is_order_quantity:field.name and not page|is_end_of_form_field:field.name %}
                            <div class="form-page__field" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
                            
                                {{ field.label_tag }}{% if field.field.required %}<span class="required">*</span>{% endif %}

                                {% if field.help_text %}
                                    <p class="help">{{ field.help_text }}</p>
                                {% endif %}

                                {{ field }}

                                {% if field.errors %}
                                    <span class="text-danger">
                                        {% for error in field.errors %}{{ error }}{% endfor %}
                                    </span>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}


                    <div>
                        <h3>Review order</h4>
                        <div id="order-summary"></div>
                        <p><strong>
                            Total: £<span id="order-total">{{ page.default_total }}</span><br>
                        </strong></p>

                        <div id="not-allowed"></div>

                        {% for field in form %}
                            {% if page|is_end_of_form_field:field.name %}
                                <div class="form-page__field" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
                                    
                                    {{ field.label_tag }}{% if field.field.required %}<span class="required">*</span>{% endif %}

                                    {% if field.help_text %}
                                        <p class="help">{{ field.help_text }}</p>
                                    {% endif %}

                                    {{ field }}
                                    {% if field.errors %}
                                        <span class="text-danger">
                                            {% for error in field.errors %}{{ error }}{% endfor %}
                                        </span>
                                    {% endif %}
                                    {% if field.name == "voucher_code" %}
                                    <div id="invalid-voucher"></div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}

                        <div>
                            {{ page.form_footer_text|richtext }}
                        </div> 
                    </div>

                    <input id="submit-btn" type="submit" class="btn"/>
                </form>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
