{% extends "base.html" %}
{% load wagtailcore_tags navigation_tags wagtailimages_tags ordertags %}

{% block content %}

{% include "includes/header-hero.html" %}

    <div class="container">
        <div class="row">
            {% if page.inline_image %}
                <figure>{% image page.inline_image width-600 loading="lazy" %}</figure>
            {% endif %}
            
            <div class="col-md-8 index-header__body-introduction">
                {% if page.body %}
                    {{ page.body|richtext }}
                {% endif %}
            </div>
            
            <div class="col-md-8">

            </div>
            <div class="col-md-8 index-header__body-introduction">
                {% if page.product_description %}
                    <p class="intro">{{ page.product_description|richtext }}</p>
                {% endif %}
                
                <p>
                    {% for variant in page.product_variants.all %}
                    {{ variant.name }}: £{{ variant.cost }}<br/>
                    {% endfor %}
                </p>
                {% if page.shipping_cost %}Plus P&P: £{{page.shipping_cost }} per order{% endif %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 form-page">
                {% comment %}
        You could render your form using a Django rendering shortcut such as `{{ form.as_p }}` but that will tend towards unsemantic code, and make it difficult to style. You can read more on Django form at:
        https://docs.djangoproject.com/en/3.2/topics/forms/#form-rendering-options
        {% endcomment %}
                <form action="{% pageurl page %}" method="POST">
                    {% csrf_token %}
                    {% if form.subject.errors %}
                        <ol>
                            {% for error in form.subject.errors %}
                                <li><strong>{{ error|escape }}</strong></li>
                            {% endfor %}
                        </ol>
                    {% endif %}
                    
                    {% for field in form %}
                        {% if not page|is_order_quantity:field.name %}
                            <div class="form-page__field" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
                            
                                {{ field.label_tag }}{% if field.field.required %}<span class="required">*</span>{% endif %}

                                {% if field.help_text %}
                                    <p class="help">{{ field.help_text }}</p>
                                {% endif %}

                                {{ field }}
                            </div>
                        {% endif %}
                    {% endfor %}

                    {% for field in form %}
                        {% if page|is_order_quantity:field.name %}
                            <div class="form-page__field" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
                                {% get_product_variant page=page field_name=field.name as variant %}
                                <strong>{{ variant.name }} (£{{ variant.cost }})</strong><br/>
                                
                                {% if variant.description %}
                                    <p class="help">{{ variant.description }}</p>
                                {% endif %}
                                
                                <label for={{ field.id }}>Quantity</label>
                                {% if field.field.required %}<span class="required">*</span>{% endif %}

                
                                <select 
                                    name="{{ field.name }}" 
                                    required="" 
                                    id="id_{{ field.name }}"
                                    {% if page.id %}
                                    hx-post="{% url 'orders:calculate_order_total' page.id %}"
                                    hx-trigger="change"
                                    hx-target="#order-total"
                                    {% endif %}
                                >
                                    {% for choice, _ in field.field.choices %}
                                    <option value="{{ choice }}" {% if choice == field.field.initial %}selected{% endif %}>{{ choice }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endif %}
                    {% endfor %}
                    
                    <div>
                        <p><strong>
                            Total: £<span id="order-total">-- <input type="submit" 
                                class="order-btn-sm" 
                                value="Update"
                                hx-post="{% url 'orders:calculate_order_total' page.id %}"
                                hx-trigger="click"
                                hx-target="#order-total"
                            ></span> 
                            
                            {% for choice, _ in field.field.choices %}
                            <option value="{{ choice }}" {% if choice == field.field.initial %}selected{% endif %}>{{ choice }}</option>
                            {% endfor %}
                          </select>
                        </strong></p>

                        <div>
                            {{ page.form_footer_text|richtext }}
                        </div> 
                    </div>
                    
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
