Django
wagtail
pip-tools
crispy-bootstrap3
django-crispy-forms
django-environ
django-extensions
psycopg2
gunicorn
django_ses[events]
htmx
pymemcache
whitenoise
facebook-sdk
wagtail-json-widget
django-storages[boto3]
# limited to 3.0.0 until wagtail-django-recaptcha support 4.0.0
django-recaptcha==3.0.0
wagtail-django-recaptcha
django-paypal
wagtail-modeladmin
shortuuid

pytest
coverage
pytest-django
pytest-cov
pytest-env
pytest-freezegun
pytest-xdist
wagtail-factories
ipython
model-bakery

playwright
tqdm
