Django
wagtail
pip-tools
django-environ
django-extensions
psycopg2
gunicorn
django_ses[events]
htmx
pymemcache
whitenoise
facebook-sdk
wagtail-json-widget

pytest
coverage
pytest-django
pytest-cov
pytest-env
pytest-freezegun
pytest-xdist
wagtail-factories
ipython
ruff
black
model_bakery

playwright
tqdm
django-salesman[pygments]
crispy-bootstrap4
