{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailembeds_tags %}

{% block content %}
    {% include "dogs/includes/header-hero.html" %}

    <div class="container dog-detail">
        <div class="row">
            <div class="col-md-12">

                    <div class="row">
                        <div class="dog-detail__meta">
                            {% if page.location %}
                                <p class="dog-detail__meta-title">Location</p>
                                <p class="dog-detail__meta-content">{{ page.location }}</p>
                            {% endif %}
                            {% if page.description %}
                                <p class="dog-detail__meta-title">About {{ page.title }}</p>
                                <p class="dog-detail__meta-content">{{ page.description|richtext }}</p>
                            {% elif page.fb_description %}
                                <p class="dog-detail__meta-title">About {{ page.title }}</p>
                                <p class="dog-detail__meta-content">{{ page.fb_description|richtext }}</p>
                            {% endif %}
                            
                            <p class="dog-detail__meta-content">
                                <a href={{ page.facebook_url }}>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"/></svg>                                
                                    View on Facebook</a>.
                            </p>
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/></svg>
                                <a href="/contact-us/?ref={{ page.title }}">Contact us about {{ page.title }}</a>
                            </p>
                        </div>
                    </div>

                <div class=" row image-gallery-container">
                    <ul class="image-gallery">
                        {% for image in gallery_images %}
                            <li>
                                {% image image.image original loading="lazy" %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                {% if gallery_images.paginator.count > paginate_by %}
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                {% include "includes/pagination.html" with subpages=gallery_images %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock content %}
