{% extends "base.html" %}
{% load wagtailcore_tags navigation_tags wagtailimages_tags %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col">            
                <p>Your payment has been cancelled.</p>
                {% if paypal_item_reference %}
                    <p><a href={% url 'fundraising:recipe_book_contribution_detail' paypal_item_reference %}>Go back to your submission</a></p>
                {% endif %}
            </div>
        </div>
    </div>

    {% endblock %}

