{% extends "base.html" %}
{% load wagtailcore_tags navigation_tags wagtailimages_tags %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col">            
                <h1>Thank you for your payment!</h1>
                {% if not submission.paid %}
                <p>We will send you an email when your payment has been processed.</p>
                {% endif %}
                {% if item %}
                    <p><a href={{ item.get_absolute_url }}>View your {{ item_type }}.</a></p>
                {% endif %}
            </div>
        </div>
    </div>

    {% endblock %}

