{% load wagtailimages_tags %}

{% for gallery_image in images %}
    <div class="picture-card">
        <a href="{{ gallery_image.image.file.url }}">
        <figure class="picture-card__image">
            {% image gallery_image.image fill-645x480-c100 loading="lazy" %}
            <div class="picture-card__contents">
                {% comment %} <p class="picture-card__title">{{ img.title }}</p> {% endcomment %}
            </div>
        </figure>
        {{ gallery_image.caption }}
        </a>
    </div>
    
{% endfor %}
