SECRET_KEY=
DEBUG=
LOCAL=
CONSOLE_EMAIL=
EMAIL_HOST_USER='dummy_user'
EMAIL_HOST_PASSWORD='dummy_password'
DATABASE_URL=postgres://user:password@localhost/pins
LOG_FOLDER='path/to/log/folder'
FB_APP_ID='dummy_appid'
FB_APP_SECRET='dummy_secret'
# This should be a starting short-lived page access token; it will be
# exchanged for a long-lived one and kept updated after the fb api
# is first used 
FB_ACCESS_TOKEN='dummy_acccess_token'
FB_PAGE_ID='page_id'

# local only, prod uses IAM role
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
LOCAL_S3=False
AWS_S3_CUSTOM_DOMAIN=

RECAPTCHA_PUBLIC_KEY=
RECAPTCHA_PRIVATE_KEY=
