{% extends "shop/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}


{% block content %}
    {% include "includes/header-hero.html" %}

    <div class="container shop-basket">
        <div class="row">
            <div class="col-md-12">
                <h1>Basket</h1>
                {% if basket.items %}
                    {% for product_identifier, items in basket.items.items %}
                        <div id="row-{{ product_identifier }}">
                            <h3>{{ items.0.product_type }} ({{ items.0.category }})</h3>
                            <ul>    
                            {% for item in items %}
                            <div id="row-{{ item.product_id }}">
                                <li>{{ item.product.name }} - 
                                    <span id="quantity_{{ item.product_id }}">{{ item.quantity }}</span> -  
                                    £{{ item.unit_price }} - 
                                    £<span id="subtotal_{{ item.product_id }}">{{ item.subtotal }}</span>
                                </li>
                                <form class="shop-form" action="" method="POST">
                                    {% csrf_token %}
                                    <div class="input-group quantity mb-3">
                                        <div class="input-group-prepend">
                                            <span 
                                                class="input-group-text"
                                                hx-trigger="click"
                                                hx-target="#id_quantity_wrapper_{{ item.product_id }}"
                                                hx-get="{% url 'shop:decrease_quantity' item.product_id %}"
                                                hx-include="[id='id_quantity_{{ item.product_id }}']"  
                                            >-</span>
                                        </div>
                                        <span id="id_quantity_wrapper_{{ item.product_id }}">
                                            {% include "shop/includes/quantity_field.html" with product_id=item.product_id value=item.quantity %}
                                        </span>
                                        <div class="input-group-append">
                                            <span 
                                                class="input-group-text"
                                                hx-trigger="click"
                                                hx-target="#id_quantity_wrapper_{{ item.product_id }}"
                                                hx-get="{% url 'shop:increase_quantity' item.product_id %}"
                                                hx-include="[id='id_quantity_{{ item.product_id }}']"  
                                            >+</span>
                                        </div>
                                    </div>
                                    <input type="hidden" name="product_id" value="{{ item.product_id }}">
                                    <input type="submit" 
                                        class="btn"
                                        value="Update"
                                        hx-post="{% url 'shop:update_quantity' item.ref %}"
                                        hx-trigger="click"
                                        hx-target="#basket_quantity"
                                    >
                                    <input type="submit" 
                                        class="btn btn-danger"
                                        value="Delete"
                                        hx-post="{% url 'shop:delete' item.ref %}"
                                        hx-trigger="click"
                                        hx-target="#basket_quantity"
                                    >
                                    <div id="updated_{{ item.product_id }}"></div>
                                </form>
                            </div>
                            {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                    <div>Items in basket: <span id="basket_quantity">{{ basket_quantity }}</span></div>
                    <div>Total: £<span id="total">{{ basket.total }}</span></div>
                    <hr class="mt-4 mb-2">
                    <div class="col-md-12">
                    <h4>Select payment method</h4>
                    <form action="{% url 'shop:checkout' %}" method="GET">
                        {% for method in payment_methods %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="payment-method" id="id_{{ method.identifier }}" value="{{ method.identifier }}" {% if forloop.first %}checked{% endif %}>
                            <label class="form-check-label" for="id_{{ method.identifier }}">
                              {{ method.label }}
                            </label>
                            <em class="text-muted text-italic">{{ method.help }}</em>
                        </div>
                        {% endfor %}
                        <input class="btn mt-2 mb-2 btn btn-primary" type="submit" value="Checkout">
                    </form>  
                </div> 
                {% else %}
                    <p>Basket is empty.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
