{% load wagtailcore_tags wagtailimages_tags static %}

<div>
    <h2 class="listing-card__title">{{ product.name }}</h2>
    {% if product.image %}
        <figure class="product-listing-card__image">
            {% image product.image fill-180x180-c100 loading="lazy" %}
        </figure>
    {% else %}
        <figure class="product-listing-card__image">
            <img src={% static 'images/logo.png' %} height="180" width="180" loading="lazy">
            <div class="layer"></div>
            <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">No photo available</div>
        </figure>
    {% endif %}
    <p>{{ product.description|richtext }}</p>

    <form class="shop-form" action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_product_{{ product.id }}">Option</label>
            <select
                {% comment %} name must be product id for api call - actual product_variant id {% endcomment %}
                name="product_id" 
                required="" 
                id="id_product_{{ product_id }}"
                class="form-control"
            >
                {% for variant in product.live_variants %}
                <option value="{{ variant.id }}">{{ variant.name }} - £{{ variant.price }}</option>
                {% endfor %}
            </select>
        </div>
            
        <label for="id_quantity">Quantity</label>
        <div class="input-group quantity mb-3">
            <div class="input-group-prepend">
                <span 
                    class="input-group-text"
                    hx-trigger="click"
                    hx-target="#id_quantity_wrapper_{{ product.id }}"
                    hx-get="{% url 'shop:decrease_quantity' product.id %}"
                    hx-include="[id='id_quantity_{{ product.id }}']"  
                >-</span>
            </div>
            <span id="id_quantity_wrapper_{{ product.id }}">
                {% include "shop/includes/quantity_field.html" with product_id=product.id value=1 %}
            </span>
            <div class="input-group-append">
                <span 
                    class="input-group-text"
                    hx-trigger="click"
                    hx-target="#id_quantity_wrapper_{{ product.id }}"
                    hx-get="{% url 'shop:increase_quantity' product.id %}"
                    hx-include="[id='id_quantity_{{ product.id }}']"  
                >+</span>
            </div>
        </div>
        <input type="hidden" name="product_type" value="shop.ProductVariant">

        <input type="submit" 
            class="btn"
            value="Add to basket"
            hx-post="{% url 'shop:add_to_basket' product.id %}"
            hx-trigger="click"
            hx-target="#basket-count"
        >        
    </form>
    <div id="added_{{ product.id }}"></div>

</div>
