{% load i18n wagtailadmin_tags %}

{% load i18n wagtailadmin_tags %}

{% fragment as button %}
    <span class="button">
    Change order status
    </span>
{% endfragment %}

{% dropdown_button button=button toggle_icon="arrow-down" %}
    <ul>
        <li
            class="button match-width"
            hx-get="{% url 'orders:mark_order_form_submissions_paid' %}" 
            hx-include="[name='selected-submissions']"
            >
            Paid
        </li>
        <li
            class="button" style="margin: 0;"
            hx-get="{% url 'orders:mark_order_form_submissions_shipped' %}" 
            hx-include="[name='selected-submissions']"
            >
            Shipped
        </li>
        <li 
            class="button" style="margin: 0;"
            hx-get="{% url 'orders:reset_order_form_submissions' %}" 
            hx-include="[name='selected-submissions']"
            >
            Reset
        </li>
    </ul>
{% enddropdown_button %}
